pom.xml
pom.xml.asc
*.jar
*.class
/storage/emulated/obb/storage/emulated/296/sda0/sdablk0p0/info.rc
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
